/* LoginButton */

.login-button {
    background-color: #f8af24;
    color: black;
    width: 200px;
    font-size: 36px;
    padding: 12px 24px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    background-color: #df9f09;
    transform: translateY(-2px);
}
